

.navbars{
    background-color:#e1c9b4!important;
    color:black!important;
}
.containers{
    max-width: 100%!important;
}
/* .bannerImage{
    width: '100px';
    height: '500px';

    top:0px;
} */
.banners{
    min-height: 100vh;
}

.heading01{
    text-shadow: 2px 2px 10px #000000;
}

.imageBorder{
    border:2px solid black;
}

.scheduleHeading{
    font-size: 40px!important;
}
.scheduleParagraph{
    font-size:18px;
}

.endArticle{
    background-color:#1378c7;
    padding-top:2%;
    padding-bottom: 2%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.bannerShadow{
    width:100%;
    min-height:100%;
    position:absolute;
    top:0px;
    background-color:rgb(255 255 255 / 33%);
    left:0px;
}
.bannerShadow > h1{
    font: italic 1.2em "Fira Sans", serif;
    color:white;
    margin-top:25%;
    margin-left:32%;
    font-size:55px;
}
.mainHeader{
    background-color:#f4e1e5;
    text-align: center;
}
.mainHeader h2{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Slab', serif;
    padding-top:3%;
    padding-bottom: 3%;
}

.url{
    text-decoration: none;
}

.section01{
    padding-top:2%;
}

.section2{
    background-color:pink;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-top:2%!important;
    margin-bottom: 3%;
}

.contact{
    position:relative;
    overflow:hidden;
}
.filter{
    position:absolute;
    height: 100%;
    background-color:rgba(24, 24, 24, 0.555);
    width:100%;

}
.filter button{
    margin-left:auto;
    margin-right:auto;
}
